
@media screen and (max-width: 1300px) { 
    .container{ 
     max-width: 960px; 
    } 
    body{
        background-color: chartreuse;
    }
   } 
   @media screen and (max-width: 990px) { 
    .container{ 
     max-width: 750px; 
    } 
    body{
        background-color: rgb(104, 31, 120);
    }
    .text_txt{   
        font-size: 35px;
        line-height: 70px;
        margin-left: 80px;
        margin-top: 8px;
    }
    
   } 
   @media screen and (max-width: 780px) { 
    .container{ 
     max-width: 510px; 
    } 
    body{
        background-color: rgb(171, 68, 68);
    }
   } 
   @media screen and (max-width: 540px) { 
    .container{ 
     max-width: 420px; 
    } 
    body{
        background-color: rgb(164, 191, 58);
    }
   } 
   @media screen and (max-width: 450px) { 
    .container{ 
     max-width: 100%; 
    } 
    body{
        background-color: rgb(22, 22, 21);
    }
   }
   