html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

ul li:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

label {
  cursor: pointer;
}

textarea {
  background: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}


input[type="checkbox"] {
  display: none;
}

input::placeholder {
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea {
  display: block;
  resize: none;
}

body {
  color: #56593D;
  font-family: "Roboto ", arial;
  font-weight: 400;
  /* 155.556% */
}

.container {
  max-width: 1330px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.dn {
  display: none;
}

section {
  padding: 100px 0;
}

.sec_tit {
  color: #2c2f24;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 100px;
  line-height: 96px;
  /* 96% */
  font-weight: 400;
  margin-bottom: 20px;
}

.sec_sub-tit {
  color: #2c2f24;
  font-family: "Playfair Display", arial;
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 60.5px;
  /* 110% */
}

.sec_desc {
  color: #495460;
  text-align: center;
  font-style: normal;
}

.color {
  color: #be963f;
}

.dib {
  display: inline-block;
}

.hover {
  transition: 0.3s;
}

.hover:hover {
  color: #be963f;
}

.btn {
  transition: 0.3s;
  color: #ffffff;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  padding: 10px 24px;

  background: #56593D;
}

.btn:hover {

  background: #8b6767;
  color: #170e0e;
}

.link {
  transition: 0.3s;
}

.link:hover {
  display: flex;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* header */
.head {
  padding: 20px 0;
  align-items: center;

  flex-shrink: 0;
  position: relative;
}

.menu a {
  padding: 4px 16px;
  margin-right: 8px;
  color: #2c2f24;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  border-radius: 34px;
  transition: 0.3s;
}

.menu li:last-child a {
  margin-right: 0;
}

.menu a:hover {
  background: #dbdfd0;
}

.he_ic {
  display: flex;
}

.he_ic img {
  margin-right: 12px;
}

.logo {
  width: 90px;
  height: 26px;
}

.logo {
  padding-top: 10px;
  animation: zoomInOut 5s infinite;
  position: absolute;
  text-align: center;
}

@keyframes zoomInOut {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }
}

/*GAMBURGER*/
.menu-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 76px;
  height: 71px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}

.menu-btn>span::before {
  content: '';
  top: -8px;
}

.menu-btn>span::after {
  content: '';
  top: 8px;
}

.menubox {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}

.menu-item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu-item:hover {
  background-color: #CFD8DC;
}

#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked~.menu-btn>span {
  transform: rotate(45deg);
}

#menu-toggle:checked~.menu-btn>span::before {
  top: 0;
  transform: rotate(0);
}

#menu-toggle:checked~.menu-btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu-toggle:checked~.menubox {
  visibility: visible;
  left: 0;
}

.menu-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}

.menu-btn>span::before {
  content: '';
  top: -8px;
}

.menu-btn>span::after {
  content: '';
  top: 8px;
}

.menubox {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}

.menu-item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu-item:hover {
  background-color: #CFD8DC;
}


#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked~.menu-btn>span {
  transform: rotate(45deg);
}

#menu-toggle:checked~.menu-btn>span::before {
  top: 0;
  transform: rotate(0);
}

#menu-toggle:checked~.menu-btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu-toggle:checked~.menubox {
  visibility: visible;
  left: 0;
}

/* main */
.main {
  background-image: url(./img/main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.m_p {
  text-align: right;
  font-size: 18px;
  margin-top: 350px;
  line-height: 21.6px;
  /* 120% */
  letter-spacing: 1.8px;
}

.m_tit {
  text-align: right;
  font-size: 45px;
  line-height: 60.48px;
  /* 134.4% */
  margin-bottom: 25px;
}

.btn1 {
  color: #FFFFEF;
  text-align: center;
  font-size: 16px;
  line-height: 22.365px;
  /* 139.781% */
  letter-spacing: 1.575px;
  text-transform: uppercase;
  background: #56593D;
  padding: 16px 25px;
  max-width: 154px;
}

.m_btn {
  display: flex;
  justify-content: right;
}

/* text */
.text_txt {
  text-align: center;
  font-size: 57px;
  line-height: 81px;
  /* 142.105% */
  max-width: 1000px;
  margin-bottom: 25px;
  margin-left: 170px;
  margin-top: 9px;
  margin: 0 auto;
}

.link {
  display: flex;
  justify-content: center;
}

.l1 {
  margin-right: 75px;

}


/*  */

.b_tit {
  text-align: center;
  font-size: 24px;
  line-height: 32.4px;
  /* 135% */
  margin-bottom: 80px;
}

.card img {
  max-width: 411px;
}

.b_p {
  margin-top: 15px;
  margin-bottom: 7px;
  text-align: center;
  font-size: 16px;
  line-height: 21.6px;
  /* 135% */
}


.card:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.card {
  transition: 0.3s;
  border-radius: 12px;
}

.money {
  color: #717353;
  text-align: center;
  font-size: 16px;
  line-height: 25.92px;
  /* 162% */
  letter-spacing: 1.62px;
}

/* mini */
.mini {
  background-image: url(./img/Rectangle\ \(12\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 732px;
  margin: 0 auto;
}

.mi_p {
  text-align: center;
  font-size: 17px;
  line-height: 21.6px;
  /* 127.059% */
  letter-spacing: 1.8px;
  margin-bottom: 11px;
}

.mi_tit {
  text-align: center;
  font-size: 50px;
  line-height: 60.48px;
  /* 120.96% */
}

/* story */

.s_tit {
  text-align: center;
  font-size: 29px;
  line-height: 38.88px;
  /* 134.069% */
  margin-bottom: 32px;
  margin-top: 62px;
}

.line {
  width: 40px;
  content: ' ';
  border: 1px solid #717353;
  text-align: center;
}

.story .line {
  margin: 0 auto;
}

.s_p {
  margin-top: 32px;
  text-align: center;
  font-family: "Jost";
  font-size: 20px;
  line-height: 32.4px;
  /* 162% */
  width: 347px;
}

/* sign in  */
.si_tit {
  text-align: center;
  font-size: 28px;
  line-height: 38.88px;
  /* 138.857% */
  margin-bottom: 16px;
}

.si_p {
  text-align: center;
  font-size: 17px;
  line-height: 28.8px;
  /* 169.412% */
}

.btli .line {
  width: 340px;
  height: 1px;
  margin-top: 50px;
}

.btli {
  display: flex;
  justify-content: center;
}
submit{
  border-bottom: #000;
}

/*image*/
.im_image {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input {
  width: 100%;
  line-height: 37px;
}

.one {
  width: 320px;
  padding: 30px;
  margin: 0 auto;
}
.one img{
  border-radius: 12px;
}
.i_tit {
  color: #56593D;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.4px;
  /* 129.6% */
  padding: 55px 60px 40px;
}

footer {
  background: #717353;
  margin: 0 auto;
}

nobr {
  color: #FFFFEF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.2px;
  /* 157.5% */
  width: 63px;

}

.footer_txt {
  color: #FFFFEF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.2px;
  /* 157.5% */
  width: 256px;
  padding: 20px 0;
}

.footer_tit {
  color: #FFFFEF;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.9px;
  /* 126% */
  letter-spacing: 1.575px;
  text-transform: uppercase;
  width: 75px;
}

.footer_list {
  width: 56px;
  color: #FFFFEF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.2px;
  /* 157.5% */
  letter-spacing: 1.575px;
  text-transform: uppercase;
  width: 156px;
}

.footer_big {
  padding: 64px;

}
.footer_navs{
  flex-wrap: wrap;
}

.line {
  background: #FFFFEF;
  width: 40px;
  height: 1px;
  border-color: #fff;
  border: 1px solid;
}

.line_1 {
  width: 40px;
  height: 1px;
  background: #FFFFEF;
  margin-bottom: 20px;
  margin-top: 20px;

}

.input {
  justify-content: center;
  margin-top: 20px;
}

.input_gr {
  width: 339.594px;
  height: 0px;
  margin-bottom: 20px;
}

.one:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.one {
  transition: 0.3s;
  border-radius: 12px;
}
.s_info{
  margin: 0 auto;
}


.cards_body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.color-white {
  color: #7a1616;
}

.box-container {
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 15px;
}

.box-item {
  position: relative;
  -webkit-backface-visibility: hidden;
  width: 415px;
  margin-bottom: 35px;
  max-width: 100%;
  transition: 0.4s;
  border-radius: 12px;

}

.box-item:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  min-height: 475px;
  -ms-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  -webkit-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 60px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  transform: translateY(-50%) translateZ(60px) scale(.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
}

.flip-box-header {
  font-size: 34px;
}

.flip-box p {
  font-size: 20px;
  line-height: 1.5em;
}

.flip-box-img {
  margin-top: 25px;
}

.flip-box-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
}

@media screen and (min-width:1380px) {
  .box-container {
    flex-direction: row
  }
}

.cards_body {
  flex-wrap: wrap;
}

.input {
  width: 440px;
  height: 53px;
  display: inline-flex;
}

.email {
  color: #818181;
  text-align: start;
  font-family: "Roboto";
  font-size: 9px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
}

.submit {
  color: #FFF;
  text-align: end;
  font-family: "Roboto";
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.12px;
  max-width: 50px;
  transition: 1s;
  cursor: pointer;
}

.submit:hover {
  font-size: 12px;
}

.line_little {
  width: 440px;
  height: 1px;
  background: #8A8A8A;
}

.btns {
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;

}

.btns .btn {
  color: #FFFFEF;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.72px;
  /* 151.467% */
  letter-spacing: 1.6px;
  text-transform: uppercase;
  background: #56593D;
  padding: 0 25px;
  max-width: 144px;
  margin-top: 10px;
}

.btns input {
  max-width: 140px;
}
.btns .text {
  border-top: #170e0e;
} 

.one{
   overflow: hidden;
  position: relative;
}
.one img{
  transition: 0.5s;
}
.one:hover img{
  transform: scale(1.2);
}
.one::before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0;
  z-index: 1;
  transition: 0.5s;
}
.one:hover::before{
  opacity: 0.5;
}

.s_img{
}
.s_img img{
 transition: 0.5s;
}
.s_img:hover img{
 transform: scale(1.1);
}
.s_img::before{
 content: '';
 position: absolute;
 background: #000;
 opacity: 0;
 z-index: 1;
 transition: 0.5s;
}
.s_img:hover::before{
 opacity: 0.5;
}



footer {
  background: #717353;
  width: 100%;
}

.footer-item {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
}

.white-line {
  display: inline-block;
  height: 3px;
  background-color: #fff;
  width: 70px;
}

.footer-item .menu {
  list-style-type: none;
  margin: 62px;
}

.footer-item .menu li {
  padding: 9px;
}

.footer-item .menu li a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.mega-menu {
  display: flex;
  padding-top: 2%;
}

.link-show {
 width: 100%;
 text-align: center;
}


.link-show a {
  padding: 8px;
}

.size16 {
 font-size: 16px;
}

.kinnmoments {
  text-align: center; 
  margin: 29px;
  font-size: 18px;
}


.header-item p {
  margin-left: 43%;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
}

.text-items {
  padding-top: 6%;
}

.social {
  padding: 7%;
}